body{
    background-color: rgb(24, 23, 23);
    /* color: darkcyan; */
    font-family: Arial;
}
.btn:hover{
    background-color: white;
    color: black;
}

.display-3{
    color: cadetblue;
}

.card-title{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.card-text{
    color: blue;
}

/* .card{
    width: 400px;
    height: 400px;
  display: inline-block;
  max-width: 200px;
  max-height: 400px;  
}  */

